american-flights-ws/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
    xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"  
    xmlns:http="http://www.mulesoft.org/schema/mule/http" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    
    <!-- API Main -->
    <flow name="american-flights-api-main">
        <!-- Listener first -->
        <http:listener config-ref="inbound-request" path="/api/mule/v1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>

        <!-- Router second -->
        <apikit:router config-ref="american-flights-api-config" />

        <!-- Error handler third -->
        <error-handler ref="flights-error-handler" />
    </flow>

    <!-- API Console -->
    <flow name="american-flights-api-console">
        <http:listener config-ref="inbound-request" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>

        <apikit:console config-ref="american-flights-api-config" />

        <error-handler ref="flights-error-handler" />
    </flow>

    <!-- GET \flights -->
    <flow name="get:\flights:american-flights-api-config">
        <flow-ref doc:name="getFlightsRef" name="getFlights"/>
        <logger level="INFO" message="Interface=get:\flights:american-flights-api-config" />
    </flow>

    <!-- GET \flights\{id} -->
    <flow name="get:\flights\(id):american-flights-api-config">
        <flow-ref doc:name="getFlightByIdRef" name="getFlightById"/>
        <logger level="INFO" message="Interface=get:\flights\(id):american-flights-api-config" />

    </flow>

    <!-- POST \flights -->
    <flow name="post:\flights:application\json:american-flights-api-config">
        <flow-ref doc:name="addFlightRef" name="addFlight"/>
        <logger level="INFO" message="Interface=post:\flights:application\json:american-flights-api-config" />
    </flow>
</mule>