american-flights-ws/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
    xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
    xmlns:http="http://www.mulesoft.org/schema/mule/http" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <!-- API Main -->
    <flow name="american-flights-api-main">
        <!-- Listener first -->
        <http:listener config-ref="inbound-request" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>

        <!-- Router second -->
        <apikit:router config-ref="american-flights-api-config" />

        <!-- Error handler third -->
        <error-handler>
            <on-error ref="flights-error-handler" doc:name="On error" />
        </error-handler>
    </flow>

    <!-- API Console -->
    <flow name="american-flights-api-console">
        <http:listener config-ref="inbound-request" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>

        <apikit:console config-ref="american-flights-api-config" />

        <error-handler>
            <on-error ref="flights-error-handler" doc:name="On error" />  
        </error-handler>
    </flow>

    <!-- GET \flights -->
    <flow name="get:\flights:american-flights-api-config">
        <flow-ref doc:name="getFlightsRef" name="getFlights"/>

        <logger level="INFO" message="get:\flights:american-flights-api-config" />

        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[
                    %dw 2.0
                    output application/json
                    ---
                    [
                    {
                        ID: 1,
                        code: "ER38sd",
                        price: 400,
                        departureDate: "2017/07/26",
                        origin: "CLE",
                        destination: "SFO",
                        emptySeats: 0,
                        plane: {
                        "type": "Boeing 737",
                        totalSeats: 150
                        }
                    }, 
                    {
                        ID: 2,
                        code: "ER45if",
                        price: 540.99,
                        departureDate: "2017/07/27",
                        origin: "SFO",
                        destination: "ORD",
                        emptySeats: 54,
                        plane: {
                        "type": "Boeing 777",
                        totalSeats: 300
                        }
                    }
                    ] as Array {encoding: "UTF-8", mediaType: "application/json"}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- GET \flights\{id} -->
    <flow name="get:\flights\(id):american-flights-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[
                    %dw 2.0
                    output application/json
                    ---
                    {
                    ID: 1,
                    code: "ER38sd",
                    price: 400,
                    departureDate: "2017/07/26",
                    origin: "CLE",
                    destination: "SFO",
                    emptySeats: 0,
                    plane: {
                        "type": "Boeing 737",
                        totalSeats: 150
                    }
                    } as Object {encoding: "UTF-8", mediaType: "application/json"}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- POST \flights -->
    <flow name="post:\flights:application\json:american-flights-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[
                    %dw 2.0
                    output application/json
                    ---
                    {
                    message: "Flight is added!"
                    } as Object {encoding: "UTF-8", mediaType: "application/json"}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>